.app {
  margin: 1em 0 2em 2em;
}

.track th {
  text-align: right;
  width: 170px;
}

.track .vol {
  width: 140px;
}

.track .mute {
  width: 56px;
}

.beat {
  background: #eee;
  text-align: center;
  line-height: 2em;
  border-radius: 8px;
}

.beat.active {
  background: pink;
}

.beat.current {
  background: #f5f5eb;
}



.beat > a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.controls td {
  padding-top: .5em;
}

.bpm input {
  width: 60px;
  border: 0;
  font-size: 1em;
}

.loopLength input {
  width: 60px;
  border: 0;
  font-size: 1em;
}
.material-icons.disabled-icon {
  color: lightgrey;
}

.presetSelector select {
  width: 60px;
  border: 0;
  font-size: 1em;
}


.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  font-size: 100%
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: blue;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tab:hover {
  background-color: #ddd;
}